
.time {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background: linear-gradient(0deg, hsl(236, 21%, 26%), hsl(235, 16%, 14%));
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(345, 95%, 68%);
}
