.countdown-block {
  width: 20%;
  max-width: 250px;
}

.countdown-block:not(:last-child) {
  margin-right: 3%;
}

.count {
  font-size: 130px;
  color: var(--softRed);
  position: relative;
  height: 250px;

  border-radius: 15px;
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--veryDark);
}

.count::before,
.count::after {
  content: "";
  position: absolute;
  height: 49.5%;
  width: 100%;
  border-radius: 15px;
}

.count::before {
  top: 0px;
  background: linear-gradient(0deg, var(--middleDarkBlue), var(--veryDarkBlue));
}

.count::after {
  bottom: 0px;
  background: linear-gradient(
    0deg,
    var(--darkDesaturatedBlue),
    var(--middleDarkBlue)
  );
}

.count__number {
  z-index: 1;
}

.count__number::after {
  content: "";
  position: absolute;
  top: 49.5%;
  left: 0;
  height: 1%;
  width: 100%;
  background-color: var(--veryDark);
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.countdown__interval {
  width: 100%;
  text-align: center;
  color: var(--grayishBlue);
  font-family: Red Hat Text;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}
