.time,
.counter {
  display: flex;
  justify-content: center;
}

.counter,
.interval-names li {
  position: relative;
  width: 250px;
}

.interval-names {
  list-style-type: none;
  width: 100%;
  margin-top: 150px;

  display: flex;
  justify-content: center;
}

.interval-names li {
  text-align: center;
  color: var(--grayishBlue);
  font-family: Red Hat Text;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
}

.counter p {
  font-size: 100px;
  color: var(--softRed);
  position: relative;
  top: calc(50% + 5px);
}

.counter:not(:last-child),
.interval-names li:not(:last-child) {
  margin-right: 100px;
}

.counter:before,
.counter:after {
  content: "";

  width: 250px;
  height: 125px;
  border-radius: 10px;
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: -1;
  position: absolute;
}

.counter:before {
  background: linear-gradient(0deg, var(--middleDarkBlue), var(--veryDarkBlue));
}

.counter:after {
  background: linear-gradient(
    0deg,
    var(--darkDesaturatedBlue),
    var(--middleDarkBlue)
  );
  top: 135px;
}
